[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
